<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/carte/leaflet.css">
    <script src="../assets/carte/leaflet-src.js"></script>
    <link rel="stylesheet" href="../build/css/style.css">
    <title>Document</title>
</head>
<body>
<img src="../assets/img/logo.svg" alt="logo" class="logo">
    <div id="mapid">
        <div id="root"></div>
    </div>

    <script src="../build/js/app.js"></script>
</body>
</html>